<div class="container">
  <div class="formGroup" *ngIf="!status">
    <form [formGroup]="pagamentoForm" (ngSubmit)="onSubmit()">
      <label>Informaçẽos do Boleto</label><br><br>
      <label>Data de Vencimento</label><br><br>
      <input type="text" formControlName="barcodeNumber">

      <label>Valor</label>
      <input type="text" formControlName="paymentDate"><br>
      <input type="submit">
    </form>
  </div>

  <div class="response" *ngIf="status">
    Favorecido: {{ response["data"].payeeName }}<br><br>
    Valor: {{ response["data"].paymentValue }}<br><br>
    vencimento: {{ response["data"].dueDate  }}<br><br>
    <label>Pagar</label>
    <input type="submit" (click)="payBar()">


  </div>
</div>