div{
    /* border: solid blue; */
    
}

.container {
    display: flex;
    /* justify-content: flex-end; */
    flex-direction: column;
    width: 960px;
    height: 440px;
    margin-left: 80px;
    margin-top: 80px;
}

.formGroup{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 760px;
    height: 440px;
    /* border: solid black; */

}

.formCustomer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60px;
    /* height: 400px; */
    /* border: solid tomato; */

}

.response{
    /* margin-top: 100px; */
    background-color: #F0ffff ;

}

label{
    margin-right: 10px;
}

input{
    margin-right: 10px;
    margin-bottom: 15px;
}