<div class="container">
  <div class="formGroup">
    <form [formGroup]="boletoForm" (ngSubmit)="onSubmit()">
      <label>Informaçẽos do Boleto</label><br><br>
      <label>Data de Vencimento</label><br><br>
      <input type="text" formControlName="dueDate">

      <label>Valor</label>
      <input type="text" formControlName="amount"><br>

      <label>Numero de referencia</label>
      <input type="text" formControlName="reference">

      <label for="description">Descrição</label>
      <input type="text" formControlName="description"><br><br>


      <label>Informaçẽos do Cliente</label><br><br>
      <div formGroupName="customer">
        <label for="name">Nome</label>
        <input type="text" formControlName="name">

        <label for="email">email</label>
        <input type="text" formControlName="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"><br>

        <label for="documentType">Tipo do Documento</label>
        <input type="text" formControlName="documentType">

        <label for="document">Documento</label>
        <input type="text" formControlName="documentType"><br><br>

        <div formGroupName="phone">
          <label for="areaCode">Codigo de Area</label>
          <input type="text" id="areaCode" formControlName="areaCode">

          <label for="number">Codigo de Area</label>
          <input type="text" formControlName="number">

        </div><br><br>

        <div formGroupName="address">

          <label for="postalCode">Codigo Postal</label>
          <input type="text" formControlName="postalCode">

          <label for="street">Rua</label>
          <input type="text" formControlName="street"><br>

          <label for="number">Numero</label>
          <input type="text" formControlName="number">

          <label for="district">Bairro</label>
          <input type="text" formControlName="district"><br>

          <label for="number">city</label>
          <input type="text" formControlName="number">

          <label for="state">Numero</label>
          <input type="text" formControlName="state">
        </div>
      </div><br>
      <input type="submit">
    </form>
  </div>
</div>